.backfig1, .backfig2, .backfig3{
    position:relative;
    opacity:0.80;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.text{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
}

.border {
    background-color:#111;
    color:#fff;
    padding:20px;
}

.border.trans{
    background-color:transparent;
    color:#242424;
}

.backfig1{
    background-image:url('https://picsum.photos/id/1033/1920/1080');
    min-height: 100vh;
}

.backfig2{
    background-image:url('https://picsum.photos/id/1082/1300/400');
    min-height:400px;
}

.backfig3{
    background-image:url('https://picsum.photos/id/190/1300/400');
    min-height:400px;
}

.section{
    text-align:center;
    padding:50px 80px;
}

.section-light{
    background-color:#f4f4f4;
    color:#666;
}

.section-dark{
    background-color:#282e34;
    color:#ddd;
}